img{
    width: 250px;
    display: block;
}
div{
    background-color: black;
    color: aliceblue;
    display: inline-block;
    text-align: center;
}
body{
    background-color: black;
    text-align: center;
}
h1{
    color: aliceblue;
}